## R files to ignore
##
.Rproj.user
*.Rproj
.Rbuildignore
.Rhistory

## Stan files to ignore
##
*.rds
src/stanExports*
src/RcppExports*

## Emacs files to ignore
##
*~

## Ignore compiled files
##
*.so
*.o

## Miscellaneous other files
##
notes.txt
.DS_Store
.#*

inst/doc
Meta
