## R files to ignore
##
.Rproj.user
*.Rproj
.Rhistory

## Stan files to ignore
##
*.rds

## Emacs files to ignore
##
*~

## miscellaneous files to ignore
##
Read-and-delete-me
*.zip
kholsinger-Protea-repens-GBS*
.DS_Store
.#*
*-str.*
message_tmp.txt


